$contact-map-width: 70vw;
$contact-accent-color: pink;
.contact-page {
  background-image: url("../../img/backgrounds/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  .info-box {
    display: flex;
    justify-content: space-between;
    @include md {
      flex-direction: column;
    }
    .address {
      width: calc(100vw - #{$contact-map-width});
      color: #fff;
      @include md {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }
      h3 {
        margin: 10px 0;
        color: $contact-accent-color;
      }
      p {
        font-size: 1.25rem;
        a {
          text-decoration: none;
          color: #eee;
        }
      }
      .social-icons {
        svg {
          fill: #fff;
          &:hover {
            fill: $contact-accent-color;
          }
        }
      }
    }
    .map {
      width: $contact-map-width;
      @include md {
        width: 100%;
      }
    }
    iframe {
      height: 70vh;
      width: 100%;
    }
  }
  .contact-icon {
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 10px;
    color: $contact-accent-color;
  }
}
