.card_details{
 //background-image:url(../../img/GamexBg.jpg) ;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 min-height:100vh;
 width: 100vw;
 /*@include sm{
     min-height:100%;
     
 }*/
}

.card_details_art{
    background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 height:100vh;
 width: 100vw;
 @include sm{
     height:100vh;
     
 }
}

.card_indi{
    display:flex;
    flex-direction:row;
    width:1100px;
    //align-items: center;
    padding-top: 100px;
    margin:0 auto;

    @include lg{
        flex-direction: column;
        width:500px;
       
        
    }
    @include sm-lt{
        width:250px;
        align-items: center;
    }
    @include sm{
        align-items: flex-start;
        width:300px;
    }
}
.written{
    display: flex;
    flex-direction:column;
    margin-top:-50px;
    margin-left:-48px;
    background:rgba(128,128,128,0.55);
    padding: 40px;
    
    border-radius: 20px;
    z-index:1;
   @include md-lt{
       margin-left:-90px;
       margin-top:-300px;
       z-index:4;
       opacity: 0.6;
       padding:10px;
   }
   @include sm-lt{
       margin-left: -10px;
       margin-top: -300px;
       z-index:4;
       width: 450px;
       //background-clip: border-box;
      // padding:16px;
   }
   @include sm{
       margin-top: -280px;
       width: 330px;
       z-index: 4;
       margin-left: -16px;
       padding:16px;
       background:rgba(128,128,128,0);
   }
  /* @include sm{
       width:310px;
   }*/
}

.event_decard{
    z-index:3;
    @include sm-lt{
        width:350px;

    }
    @include sm{
        width:300px;
        height:400px;
    }
}

p{
    margin-top:50px;
    font-family: 'Abel',sans-serif;
    font-size: 1.2em;
    color:white;
    
    background:rgba(0,0,0,0.79);
    padding:60px;
    border-radius:20px; 
    @include md-lt{
        width: 500px;
        text-align: center;
        margin-left:40px;
        margin-top:50px ;
        opacity: 1;
        padding:50px;
    }
    @include sm-lt{
        padding:6px;
        margin-top:40px;
        width:400px;
        margin-left: -10px;
       //   white-space: nowrap;
    }
    @include sm{
        padding:6px;
        width: 300px;
        margin-top: 50px;
        background:rgba(0,0,0,0.69); 
        
    }/*
    @include sm{
        padding:6px;
        width:300px;
    }*/
}

.event_but{
    font-family: 'Oswald',sans-serif;
    width:170px;
    border-radius:30px;
    padding:5px;
    font-size:2em;
    color:white;
    background-color:#ed145b;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    @include md{
        margin-top: 30px;
        font-size: 1.5em;
        
    }

}

.but_eve{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include md{
        //padding-left:50px;
    }
}

.event_but:nth-child(2){
    @include md{
        margin-left: 30px;
        width: 200px;
    }
}