.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #fff;
}

.bm-burger-bars-hover {
  background: #333;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #a13942;
  opacity: 0.65;
  // padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #a13942;
  opacity: 0.65;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-links {
  &:focus {
    outline: none;
  }
  .nav-link {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    color: #e0d065;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    &:hover {
      background-color: #fff;
      border: none;
      color: #373a47;
    }
  }
}
