.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #fff;
}

.bm-burger-bars-hover {
  background: #333;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #2b685d;
  opacity: 0.7;
  font-size: 1.15em;
  backdrop-filter: blur(10px);
}

.bm-item-list {
  color: #b8b7ad;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include md {
    margin-top: 50px;
  }
  &:focus {
    outline: none;
  }
  .nav-link {
    text-decoration: none;
    width: 100%;
    padding: 20px 0;
    margin: 10px -10px;
    text-align: center;
    color: #e0d065;
    font-size: 1.5em;
    &:hover {
      background-color: darken(#2b685d, 5%);
      border: none;
      color: #fff;
    }
  }
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
