.pronite-page {
  background-image: url(../../img/backgrounds/pronite-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .pronite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    @include md {
      flex-direction: column;
    }
    .pronite-card {
      flex-basis: 0;
      flex: 1 1 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 100px;
      display: flex;
      text-align: center;
      @include md {
        margin: 20px 0;
      }
      img {
        width: 80%;
        height: 80%;
        @include md {
          width: 100%;
          height: 70%;
        }
        transition: all 0.25s ease-in-out;
        &:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transform: scale(1.05);
        }
      }
      .pronite-button {
        text-decoration: none;
        width: 200px;
        border-radius: 30px;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
        background-color: #ed145b;
        margin: 20px auto 0 auto;
      }
    }
  }
}
