.sponsor-page {
  background-image: url("../../img/backgrounds/sponsor-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 20px;
  .sponsors-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    h3 {
      margin: 20px 0;
    }
    .sponsors-list {
      display: flex;
      justify-content: center;
      @include sm {
        flex-direction: column;
      }
      img {
        margin: 0 10px;
        transition: all 250ms ease-in;
        @include sm {
          margin: 10px 0;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
