.team-page {
  background-image: url("../../img/backgrounds/team-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  .team-heading {
    font-size: 3rem;
    margin: 20px 0 10px 0;
    padding-top: 0 !important;
  }
  .team-container {
    display: flex;
    justify-content: space-evenly;
    @include md {
      flex-direction: column;
      align-items: center;
    }
  }
  .tilt-element {
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 275px;
    background: url("../../img/team-card.png");
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    img {
      width: 100%;
    }
    @include md {
      margin: 10px 0;
    }
    .tilt-bg {
      width: 100%;
      img {
        min-height: 300px;
      }
    }
    .tilt-content {
      transform: translateZ(20px);
      h2 {
        font-size: 1.5rem;
        font-family: "Arimo", sans-serif;
      }
      h3 {
        font-size: 1rem;
        font-family: "Arimo", sans-serif;
      }
      .social-icons {
        svg {
          fill: #fff;
          width: 2rem;
          height: 2rem;
          margin: 10px;
        }
      }
    }
  }
}
