@import "./abstracts/all";
@import "./partials/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Arimo", sans-serif;
  font-display: swap;
  font-weight: 400;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lobster Two", cursive;
    font-display: swap;
    font-weight: 700;
  }
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 0 10%;
  @include sm {
    padding: 0 5%;
  }
  h1 {
    padding: 30px 0;
    @include sm {
      padding: 50px 0 30px 0;
    }
  }
}

.hidden {
  visibility: hidden;
}

// --------------------------
// Media Queries
// --------------------------

@media screen and (max-width: 576px) {
  #wrapper {
    .main-bg,
    .overlay-bg {
      background-position: 20% 80%;
    }
    .hooks-container {
      .hook-one {
        left: 20vw;
        img {
          width: 50%;
        }
      }
      .hook-two {
        display: none;
      }
    }
    .container {
      img {
        width: 100%;
      }
      .neon-text {
        margin-top: -10%;
        font-size: 2.5rem;
        text-align: center;
      }
    }
    .fire-container {
      .fire-one {
        bottom: 20px;
        left: 20px;
        img {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  #wrapper {
    min-height: 100vh;
    .main-bg,
    .overlay-bg {
      background-position: 20% 80%;
    }
    .hooks-container {
      .hook-one {
        img {
          width: 75%;
        }
      }
      .hook-two {
        display: none;
      }
    }
    .container {
      img {
        width: 500px;
      }
      .neon-text {
        margin-left: 100px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #wrapper {
    .container {
      .neon-text {
        margin-left: 100px;
      }
    }
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  #wrapper {
    .container {
      .neon-text {
        margin-left: 100px;
      }
    }
  }
}
